<%= form_for(@myitem) do |f| %>
  <% if @myitem.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@myitem.errors.count, "error") %> prohibited this myitem from being saved:</h2>

      <ul>
      <% @myitem.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :item_name %><br>
    <%= f.text_field :item_name %>
  </div>
  <div class="field">
    <%= f.label :sku %><br>
    <%= f.text_field :sku, :id => 'txtSku', :readonly => true %>
    <button type="button" onClick="randomString();">Zzz</button>
  </div>
  <div class="field">
    <%= f.label :quantity %><br>
    <%= f.number_field :quantity %>
  </div>
  <div class="field">
    <%= f.label :item_description %><br>
    <%= f.text_area :item_description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
