<h1>Listing myitems</h1>

<table>
  <thead>
    <tr>
      <th>Item Name</th>
      <th>Sku</th>
      <th>Quantity</th>
      <th>Item Description</th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @myitems.each do |myitem| %>
      <tr>
        <td><%= myitem.item_name %></td>
        <td><%= myitem.sku %></td>
        <td><%= myitem.quantity %></td>
        <td><%= myitem.item_description %></td>
        <td><%= link_to 'Show', myitem %></td>
        <td><%= link_to 'Edit', edit_myitem_path(myitem) %></td>
        <td><%= link_to 'Destroy', myitem, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Myitem', new_myitem_path %>
