<p id="notice"><%= notice %></p>

<p>
  <strong>Item Name:</strong>
  <%= @myitem.item_name %>
</p>

<p>
  <strong>Sku:</strong>
  <%= @myitem.sku %>
</p>

<p>
  <strong>Quantity:</strong>
  <%= @myitem.quantity %>
</p>

<p>
  <strong>Item Description:</strong>
  <%= @myitem.item_description %>
</p>

<%= link_to 'Edit', edit_myitem_path(@myitem) %> |
<%= link_to 'Back', myitems_path %>
